.dashboard-content {
    padding: 80px 20px; /* Adds padding below the top bar */
    max-width: 1200px;
    margin: 0 auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.login-button {
    padding-right: 50px; /* Adds 30px padding to the right */
}
.card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
